.form{
    background-image:
    linear-gradient(110deg,white 0%,white 50%, transparent 50%),
     url('../../../photo_2025-04-18_20-59-03.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.custom-form{
    width: 50%;
}
.form-control{
    margin-bottom: 20px;
    position: relative;


}
.form-control label,
.form-control input{
    display: block;
}

.form-control input{
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
    outline: none;
    border-radius: 3px;
    border: 0;
    background-color: white;
    width: 80%;
    height: 50px;
    border-bottom: 3px solid transparent;
    font-family: "Lato",sans-serif;
 
   box-shadow: 0 0 10px rgb(153, 152, 152) inset;
}
.form-control input:focus:valid{
    border-bottom: 3px solid green;
}
.form-control input:focus:not(:valid){
    border-bottom: 3px solid orangered;
    
}

.form-control  input:placeholder-shown + label{
    opacity: 0;
    visibility: hidden;
    top: 20px;

}

.form-control label{
    position: absolute;
    top: -20px;
    left: 0px;
    font-size: 13px;
    color: gray;
    font-weight: bold;
    transition: 0.4s;
}
.custom-form{
  
}
.custom-form h1{
    color: rgb(10, 10, 46);
   
   
}
.custom-form .RejisterButton{
    color: rgb(163, 143, 30);
    background-color: rgb(10, 10, 46);
   padding: 10px 25px;
   border-radius: 4px;
   cursor: pointer;
   align-items: center;

}
.customButton{
    display: flex;
    
    position: relative;
}
.customButton .RejisterButton{
position: absolute;
left: 40%;
transform: translate(-40%);
}
